* text=auto eol=lf

*.py text eol=lf

docs/** linguist-documentation

staticfiles/** linguist-vendored
**/staticfiles/** linguist-vendored
**/dist/** linguist-vendored
**/build/** linguist-vendored
**/node_modules/** linguist-vendored


*.png linguist-generated
